@page "/securepage"
@using CalorieWise.UI.Features.Authentication;
@using Microsoft.AspNetCore.Components.Authorization;
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<p>This is a secure page.</p>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var authState = await ((AuthStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
            var user = authState.User;

            if (!user.Identity.IsAuthenticated)
            {
                NavigationManager.NavigateTo("/");
            }
        }
    }
}