@using CalorieWise.UI.Features.Authentication;
@using Microsoft.AspNetCore.Components.Authorization;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@inject IJSRuntime JS
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button class="btn btn-primary btn-sm" type="button" @onclick="Logout">Logout</button>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    public async Task Logout()
    {
        await JS.InvokeVoidAsync("localStorage.removeItem", "authToken");
        ((AuthStateProvider)AuthenticationStateProvider).NotifyUserLogout();

        Navigation.NavigateTo("/");
    }
}